@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html, body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Noto Sans", sans-serif;
}

.vip-container {
  width: 82rem;
  background-color: #052B16;
  border-radius: 1rem;
  overflow: hidden;
  padding-bottom: 2rem;
}
.vip-container .vip-header {
  background-color: #083A1F;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 1rem;
}
.vip-container .vip-header .header-activity {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.vip-container .vip-header .header-activity .payment-methods {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.vip-container .vip-header .header-activity .payment-methods button {
  background-color: #52B84A;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  display: flex;
  gap: 0.3rem;
  align-items: center;
  height: 3rem;
  padding: 0 0.5rem;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.1rem;
}
.vip-container .vip-header .header-activity .exit-button {
  cursor: pointer;
}
.vip-container .vip-body {
  display: flex;
}
.vip-container .vip-body .left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 1rem;
  width: 20%;
  gap: 1rem;
}
.vip-container .vip-body .left-side button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 11rem;
  height: 6rem;
  background-color: #FCE35A;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
}
.vip-container .vip-body .left-side button.active {
  background-color: #0ADDEF;
}
.vip-container .vip-body .right-side {
  width: 80%;
  padding: 1rem;
}
.vip-container .vip-body .right-side .body-container {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 27rem;
}
.vip-container .vip-body .right-side .body-container::-webkit-scrollbar-track {
  background-color: #0C6434;
  border-radius: 0.7rem;
}
.vip-container .vip-body .right-side .body-container::-webkit-scrollbar {
  width: 1rem;
}
.vip-container .vip-body .right-side .body-container::-webkit-scrollbar-thumb {
  border-radius: 0.7rem;
  background-color: #e6b424;
}
.vip-container .vip-body .right-side .body-container .items {
  min-width: 15.8rem;
  min-height: 24.2rem;
  background-image: url("../assets/images/Rectangle32.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  align-items: center;
  position: relative;
}
.vip-container .vip-body .right-side .body-container .items::before {
  content: "";
  background-image: url("../assets/images/Ellipse1.png");
  width: 59px;
  height: 62px;
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-repeat: no-repeat;
}
.vip-container .vip-body .right-side .body-container .items::after {
  content: "";
  background-image: url("../assets/images/Ellipse2.png");
  width: 95px;
  height: 111px;
  position: absolute;
  top: 50%;
  transform: translateY(-150%);
  left: 50%;
  background-repeat: no-repeat;
}
.vip-container .vip-body .right-side .body-container .items .inimage {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
  position: relative;
  z-index: 999;
}
.vip-container .vip-body .right-side .body-container .items .inimage::before {
  content: "";
  background-image: url("../assets/images/Ellipse3.png");
  width: 63px;
  height: 58px;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-100%, -100%);
  background-repeat: no-repeat;
  z-index: 1;
}
.vip-container .vip-body .right-side .body-container .items .inimage.active::after {
  content: "";
  background-image: url(../assets/images/Frame13.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 180px;
  height: 79px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.vip-container .vip-body .right-side .body-container .items .inimage p {
  margin-top: 1rem;
}
.vip-container .vip-body .right-side .body-container .items .inimage button {
  margin-top: 1rem;
  background-color: #019C02;
  border: none;
  outline: none;
  border-radius: 0.7rem;
  padding: 0.5rem 1rem;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */