@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html,body{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Noto Sans', sans-serif;
}


.message-box{
    width: 28rem;
    background-color: #011D0E;
                .header{
                    padding: 1rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: #052B16;
                                .left-side{
                                    display: flex;
                                    align-items: center;
                                    gap: .5rem;
                                    color: #fff;
                                    font-size: 1.5rem;
                                    font-weight: 600;
                                        img{
                                            width: 4rem;
                                            height: 4rem;
                                        }
                                }
                                .right-side{
                                    padding-right: 1rem;
                                    display: flex;
                                    align-items: center;
                                    gap: 1rem;
                                    font-size: 1.3rem;
                                    color: #FFCE61;
                                            i{
                                                cursor: pointer;
                                            }
                                }
                }
                .body{
                    font-size: 10px;
                    padding: 1rem;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    max-height: 24rem;
                    min-height: 24rem;
                    overflow-y: scroll;
                    &::-webkit-scrollbar-track {
                        background-color: #0C6434;
                        border-radius: 0.7rem;
                    }
        
                    &::-webkit-scrollbar {
                        width: .5rem;
                    }
        
                    &::-webkit-scrollbar-thumb {
                        border-radius: 0.7rem;
                        background-color: #e6b424;
                    }
                                .taken-message{
                                    display: flex;
                                    margin-top: 1rem;
                                        img{
                                            width: 3rem;
                                            height: 3rem;
                                        }
                                        .text{
                                            background-color: #535353;
                                            color: #fff;
                                            width: 60%;
                                            font-weight: 300;
                                            border-radius: .8rem;
                                            padding: .5rem;
                                        }
                                }
                                .send-message{
                                    background-color: #535353;
                                    width: 60%;
                                    align-self: flex-end;
                                    margin-top: 1rem;
                                    color: #fff;
                                    font-weight: 300;
                                    border-radius: .8rem;
                                    padding: .5rem;
                                        img{
                                            display: none;
                                        }
                                }
                }
                .footer{
                    background-color:#D9D9D9;
                    display: flex;
                            .left{
                                width: 25%;
                                display: flex;
                                align-items: center;
                                font-size: 1.5rem;
                                color: black;
                                justify-content: space-between;
                                padding: 0.5rem;
                                        img{
                                            width: 1.2rem;
                                            height: 1.2rem;
                                            cursor: pointer;
                                        }
                                        i{
                                            cursor: pointer;
                                            font-size: 1.2rem;
                                        }
                            }
                            .mid{
                                width: 50%;
                                    input{
                                        width: 100%;
                                        height: 100%;
                                        padding: 0 1rem;
                                        outline: none;
                                        border: none;
                                        background-color: #E7E7E7;
                                    }
                            }
                            .right{
                                width: 25%;
                                    button{
                                        width: 100%;
                                        height: 100%;
                                        color: yellow;
                                        background: #083A1F;
                                        border: 3px solid #FFCE61;
                                        border-radius: .5rem;
                                        cursor: pointer;
                                        font-weight: 500;
                                        font-size: 1.2rem;
                                    }
                            }
                }

}