@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
}


.score-table{
    background-color: #052B16;
    width: 42rem;
            .header{
                display: flex;
                color: #FFCE61;
                padding: 1rem;
                justify-content: space-between;
                align-items: center;
                background-color: #083A1F;
                p{
                    font-size: 2.5rem;
                    font-weight: 600;
                }
                img{
                    width: 2rem;
                    height: 2rem;
                }
            }
            .body{
                margin-top: 1rem;
                .person{
                    width: 98%;
                    border: .01rem solid rgba($color: #fff, $alpha: .52);
                    border-radius: .7rem;
                    display: flex;
                    justify-content: space-between;
                    color: white;
                    align-items: center;
                    padding: 1rem;
                            .person-photo{
                                display: flex;
                                align-items: center;
                                gap: 1.5rem;
                                span{
                                    font-size: 2.5rem;
                                    font-weight: 500;
                                }
                                img{
                                    border-radius: 50%;
                                    width: 4rem;
                                    height: 4rem;
                                }
                                p{
                                    font-size: 2.5rem;
                                    font-weight: 500;
                                }
                            }
                            .person-score{
                                font-size: 1.75rem;
                                font-weight: 500;
                                color:#FFCE61;
                            }
                }
            }
}